<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simulación Ensamblaje{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('cargar_archivo_xml') }}">Cargar Configuración</a></li>
                <li><a href="#">Simular Producto</a></li>
                <li><a href="#">Reportes</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Proyecto Simulación de Ensamblaje</p>
    </footer>
</body>
</html>
