{% extends "base.html" %}

{% block title %}Resultados{% endblock %}

{% block content %}
    <h1>Listado de Máquinas</h1>

    <!-- Listado de máquinas -->
    {% if maquinas %}
        {% for maquina in maquinas %}
            <h2>{{ maquina.nombre }}</h2>
            <p>Líneas de Producción: {{ maquina.lineas }}</p>
            <p>Componentes: {{ maquina.componentes }}</p>
            <p>Tiempo de Ensamblaje: {{ maquina.tiempo }}</p>

            <h3>Productos:</h3>
            <ul>
                {% for producto in maquina.productos %}
                    <li>{{ producto.nombre }} - Elaboración: {{ producto.elaboracion }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>No se han cargado máquinas aún.</p>
    {% endif %}

    <!-- Mostrar contenido del archivo XML -->
    <h2>Contenido del Archivo XML</h2>
    <pre>{{ contenido_xml }}</pre>
{% endblock %}
